.navButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  z-index: 10;

  .menu-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgb(36, 94, 220);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);

    opacity: 0;
    .menulist {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
      box-shadow: unset;
      color: #000;
      border: unset;
      border-radius: unset;
      overflow: hidden;
      transition: 0.2s ease-in-out;
      .menulist-item {
        padding: 4px 8px;
        position: relative;
        .text {
          text-align: left;
          width: 100%;
        }
        .now {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
        }
        &:hover {
          cursor: pointer;
          background: rgb(36, 94, 220);
          color: #ffffff;
        }
      }
    }
    .menu-top,
    .menu-bottom {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 12px;
      color: #ffffff;
      background: rgb(36, 94, 220);
      background: linear-gradient(
        0deg,
        rgba(36, 94, 220, 1) 69%,
        rgba(36, 106, 220, 1) 81%,
        rgba(36, 128, 220, 1) 88%,
        rgba(36, 145, 220, 1) 92%,
        rgba(36, 141, 220, 1) 94%,
        rgb(67, 100, 138) 97%
      );
    }
    .menu-close {
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        cursor: pointer;
      }
      .close-icon {
        padding: 6px;
        border-radius: 6px;
        border: 1px solid #ffffff;
        background: rgb(213, 89, 56);
        background: radial-gradient(circle, rgba(213, 89, 56, 1) 50%, rgba(142, 57, 40, 1) 100%);
        div {
          width: 16px;
          height: 16px;
          border: 3px solid #ffffff;
          border-radius: 100%;
          position: relative;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3px;
            height: 70%;
            background-color: #ffffff;
          }
        }
      }
    }
  }

  &.active {
    .menu-container {
      opacity: 1;
    }
  }

  .start {
    font-family: "NeoDunggeunmoPro-Regular";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    background: rgb(69, 163, 70);
    background: linear-gradient(
      90deg,
      rgba(69, 163, 70, 1) 0%,
      rgba(143, 198, 134, 1) 5%,
      rgba(73, 168, 73, 1) 16%,
      rgba(73, 168, 73, 1) 92%,
      rgba(25, 107, 32, 1) 100%
    );
    font-size: 24px;
    // letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 1px 2px 3px #000;

    &:hover {
      cursor: pointer;
    }
    .start-logo {
      height: 60%;
      filter: drop-shadow(1px 2px 3px #000);
    }
  }
}
